// Color palette
$primary-color: hsl(142, 100%, 98%);
$secondary-color: hsl(40, 100%, 51%);
$tertiary-color: hsl(210, 20%, 96%);
$quaternary-color: hsl(12, 100%, 55%);
$background-color: hsl(300, 7%, 3%);

// Font size
$m: 16px;
$s: $m * 0.8;
$xs: $m * 0.7;
$l: $m * 1.25;
$xl: $m * 1.5;
$xxl: $m * 2.5;

// Design variables
$gutter: 16px;
$gutter-s: 8px;
$gutter-l: 32px;
$gutter-x: 100px;

$max-width: 1400px;

@import "base/base";
@import "base/normalize";
@import "library/hamburgers/hamburgers.scss";
@import "layout/index";