.main-content {
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;

  &__picture {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 55%;
      width: 100%;
      height: 100%;
      background-color: rgba(87, 87, 87, .70);
      transform: rotate(80deg);
      z-index: 10;
    }

    .profile {
      position: relative;
      width: 100%;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__intro {
    position: absolute; 
    width: 85%;
    height: 11em;
    bottom: 0%;
    z-index: 20;

    .intro-container {
      position: absolute;
      left: 8%;
      top: 14%;
      font-family: 'Baloo Tammudu 2', cursive;
      color: $primary-color;

      &__first-text {
        margin-bottom: .1em;
        font-size: 1.4em;
        font-weight: 500;
      }
      &__second-text {
        margin-top: 0;
        margin-bottom: .1em;
        font-size: 2.7em;
        font-weight: 500;
      }
      &__third-text {
        margin-top: 0;
        margin-bottom: .1em;
        font-size: .95em;
        font-weight: 500;
        color: $tertiary-color;
      }
    }
  }

}
