.main-header {
  .main-nav {
    width: 100%;
    height: 100%;
    padding-top: 4.5em;
    padding-left: 3em;
    background-color: hsl(0, 0%, 49%);

    .main-menu {
      list-style: none;
      font-family: Roboto, sans-serif;
      font-weight: 800;
      font-size: 2.5em;

      &__item {
          margin-bottom: $gutter-l;
      }

      &__link {
          display: inline-block;
          letter-spacing: .1em;
          color: $primary-color;
          text-decoration: none;
          text-align: center;
          
          &::after {
            content: '';
            display: block;
            background-color: $tertiary-color;
            margin-top: $gutter-s;
            height: 1px;
            width: 105%;
            transform: scale(0, 6);
            transform-origin: center left;
            transition: transform .3s;
          }

          &:hover::after {
            transform: scale(1, 6);
        }
      }
    }
  }
}
