.main-content {
  .social-network {
    position: absolute;
    top: 69%;
    right: 8%;
    height: 10em;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    //background-color: rgba($color: red, $alpha: 0.7);
    z-index: 20;

    [class*="icon-"] {
      color: $primary-color;
      font-size: 2.2em;
      text-decoration: none;
    }
  }

  @media (min-height: 560px) {
    .social-network {
      top: 70%;
      height: 11em;
    }
  }

  @media (min-height: 665px) {
    .social-network {
      height: 14em;

      [class*="icon-"] {
        color: $primary-color;
        font-size: 3em;
        text-decoration: none;
      }
    }
  }

  @media (min-height: 810px) {
    .social-network {
      top: 72%;
      height: 15em;

      [class*="icon-"] {
        color: $primary-color;
        font-size: 3.2em;
        text-decoration: none;
      }
    }
  }
}

[class*="icon-"] {
  color: $primary-color;
  font-size: 1.5em;
  text-decoration: none;
}
